Source: wb-mqtt-knx
Maintainer: Yury Usishchev <y.usishchev@contactless.ru>
Section: misc
Priority: optional
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 9), pkg-config, g++, libwbmqtt-dev (>= 1.4), knxd-dev

Package: wb-mqtt-knx
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libwbmqtt (>= 1.4), knxd
Breaks:
Description: Wiren Board MQTT to KNX gateway

