[Unit]
Description=Wiren Board MQTT KNX bridge
After=mosquitto.target

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/usr/bin/wb-mqtt-knx

[Install]
WantedBy=multi-user.target