[Unit]
Description=Wiren Board MQTT KNX bridge
After=knxd.service wb-hwconf-manager.service

[Service]
Type=simple
Restart=on-failure
RestartSec=15
User=root
ExecStart=/usr/bin/wb-mqtt-knx

[Install]
WantedBy=multi-user.target